{% extends "layout.html" %}

{% block body %}

<!-- Main Content -->
<nav class="navbar navbar-settings">
    <div class="container-fluid d-flex flex-column align-items-start justify-content-center" >
        <div class="navbar-collapse" id="navbarNav">
            <ul class="navbar-nav navbar-nav-settings flex-column">
                <li class="nav-item">
                    <a class="nav-link active my-nav-bar" aria-current="page" href="{{ url_for('index') }}">General</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-nav-bar" href="{{ url_for('goals') }}">Profile</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-nav-bar" href="{{ url_for('account') }}">Account</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link my-nav-bar" href="{{ url_for('tags') }}">Tags</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<main>
    <div class="l-container">
        <h2 class = "mt-5 fourh_width">Change Password
        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
            {% for category, message in messages %}
                <div id="success_message" class="alert green">{{ message }}</div>
            {% endfor %}
        {% endif %}
        {% endwith %}
        {% if error_message %}
            <div id="error_message" class="alert hidden">{{ error_message }}</div>
        {% endif %}
        <div id="errorMessage" class="alert" style="display:none;"></div>
        <form id="change_password" method="POST" action="/account" class="needs-validation" novalidate>
            <input type="hidden" name="csrf_token" value="{{ csrf_token }}"> 
            <input type="hidden" name="form_id" value="change_password">
            <p type="hidden" name="form_id" value="{{ error_message }}"></p>
            <div class="form-group">
                <input type="text" class="form-control main-item" id="old_password" name="old_password" placeholder="Old Password" required>
                <div class="invalid-feedback alert">
                    Must provide old password
                </div>
            </div>
            <div class="form-group password-wrapper">
                <input required class="form-control main-item" name="new_password" placeholder="New Password" id="new_password" type="text">
                <div class="invalid-feedback alert">
                    Must provide password
                </div>
            </div>
            <div class="form-group password-wrapper">
                <input required class="form-control main-item" name="confirmation" placeholder="Password"  id="confirm_password" type="text">
                <div class="invalid-feedback alert">
                    Passwords must match
                </div>
            </div>
            <button class="btn btn-primary main-item" type="submit">Submit</button>
        </form>
        </h2>
    </div>
</main>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        const successMessage = document.getElementById('success_message');
        if (successMessage) {
            setTimeout(() => {
                successMessage.style.display = 'none';
            }, 3000);
        }

        const form = document.getElementById('change_password');
        form.addEventListener('submit', function (event) {
            const newPassword = form.querySelector('input[name="new_password"]');
            const confirmation = form.querySelector('input[name="confirmation"]');

            if (newPassword.value !== confirmation.value) {
                confirmation.setCustomValidity("Passwords must match");
            } else {
                confirmation.setCustomValidity("");
            }

            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();
            }

            form.classList.add('was-validated');
        });

        const errorMessage = "{{ error_message }}";
        const errorMessageElement = document.getElementById('error_message');

        if (errorMessage) {
            errorMessageElement.classList.remove('hidden');
        }
    });

    function togglePasswordVisibility(icon) {
        const targetId = icon.getAttribute('data-target');
        const passwordInput = document.getElementById(targetId);

        if (passwordInput.type === 'password') {
            passwordInput.type = 'text';
            icon.classList.remove('fa-eye');
            icon.classList.add('fa-eye-slash');
        } else {
            passwordInput.type = 'password';
            icon.classList.remove('fa-eye-slash');
            icon.classList.add('fa-eye');
        }
    }
</script>




    <!-- Main Content -->

{% endblock %}