<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Personal Finance Tracker</title>
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/css/bootstrap.min.css" rel="stylesheet">
  <link href="/static/styles.css" rel="stylesheet">
  <script src="https://kit.fontawesome.com/1033dab8a1.js" crossorigin="anonymous"></script>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a target="_blank" class="navbar-brand" href="">
        <i class="fa-solid fa-scale-unbalanced-flip"></i>
    </a>
    <!-- fix alignment somehow -->
    <div class="login-nav" id="navbarNav" >
        <a class="nav-link active my-nav-bar" aria-current="page" href="{{ url_for('login') }}">Login</a>
    </div>
  </div>
</nav>

<!-- Main Content -->
<body>
    <div class="l-container">
        <h2 class = "mt-5 fourh_width" style="font-size: 50px;">Register
        {% if username_error %}
            <div id="usernameError" class="alert hidden">{{ username_error }}</div>
        {% endif %}
        <div id="errorMessage" class="alert" style="display:none;"></div>
        <form id="registerForm" method="POST" action="/register" class="needs-validation" novalidate>
            <p type="hidden" name="form_id" value="{{ username_error }}"></p>
            <div class="form-group">
                <input type="text" class="form-control main-item" id="name" name="name" placeholder="First and Last Name" required>
                <div class="invalid-feedback">
                    Must provide name
                </div>
            </div>
            <div class="form-group">
                <input required class="form-control main-item" name="username" placeholder="Username" type="text">
                <div class="invalid-feedback">
                    Must provide username
                </div>
            </div>
            <div class="form-group password-wrapper">
                <input required class="form-control main-item" name="password" placeholder="Password" id="password" type="password">
                <i class="fa fa-eye toggle-password" data-target="password" onclick="togglePasswordVisibility(this)"></i>
                <div class="invalid-feedback">
                    Must provide password
                </div>
            </div>
            <div class="form-group password-wrapper">
                <input required class="form-control main-item" name="confirmation" placeholder="Password"  id="confirm_password" type="password">
                <i class="fa fa-eye toggle-password" data-target="confirm_password"onclick="togglePasswordVisibility(this)"></i>
                <div class="invalid-feedback">
                    Passwords must match
                </div>
            </div>
            <button class="btn btn-primary main-item" type="submit">Register</button>
        </form>
        </h2>
    </div>



<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap/5.3.3/js/bootstrap.bundle.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src="/static/scripts.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/js/all.min.js"></script>
    


<script>
    document.addEventListener('DOMContentLoaded', function () {
        const form = document.getElementById('registerForm');
        form.addEventListener('submit', function (event) {
            const password = form.querySelector('input[name="password"]');
            const confirmation = form.querySelector('input[name="confirmation"]');

            if (password.value !== confirmation.value) {
                confirmation.setCustomValidity("Passwords must match");
            } else {
                confirmation.setCustomValidity("");
            }

            if (!form.checkValidity()) {
                event.preventDefault();
                event.stopPropagation();

                const togglePasswordIcons = document.querySelectorAll('.toggle-password');
                togglePasswordIcons.forEach(icon => icon.classList.add('shift-left'));
            }

            form.classList.add('was-validated');
        });

        const usernameError = "{{ username_error }}";
        const usernameErrorElement = document.getElementById('usernameError');
            
        if (usernameError) {
            usernameErrorElement.classList.remove('hidden');
        }
    });

    function togglePasswordVisibility(icon) {
            const targetId = icon.getAttribute('data-target');
            const passwordInput = document.getElementById(targetId);

            if (passwordInput.type === 'password') {
                passwordInput.type = 'text';
                icon.classList.remove('fa-eye');
                icon.classList.add('fa-eye-slash');
            } else {
                passwordInput.type = 'password';
                icon.classList.remove('fa-eye-slash');
                icon.classList.add('fa-eye');
            }
        }
</script>

</body>
</html>
