<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Verify Records</title>
</head>
<body>
    
    <h1>User Records</h1>
    <ul>
        {% for record in user_data %}
            <li>User_id: {{ record.id }}, name: {{ record.name }}, hash: {{ record.hash }}, username: {{ record.username }}</li>
        {% endfor %}
    </ul>

    <h1>Money Data</h1>
    <ul>
        {% for money in money_data %}
            <li>User_id: {{ money.user_id }}, Save: {{ money.save }}, Spend: {{ money.spend }}, Give: {{ money.give }}, Invest: {{ money.invest }}, Expense: {{ money.expense }}</li>
        {% endfor %}
    </ul>
    <h1>Tags</h1>
    <ul>
        {% for tag in tags %}
            <li>{{ tag.name }} {{ tag.status }} {{ tag.color_id }}</li>
        {% endfor %}
    </ul>
    <h1>tag colors</h1>
    <ul>
        {% for TagColorData in tag_color %}
            <li>{{ TagColorData.color_name }} {{ TagColorData.color_hex }}</li>
        {% endfor %}
    </ul>
</body>
</html>
