{% extends "layout.html" %}

{% block body %}
<!-- Main Content -->
<main>
    {% set reversed_spend = spend_records_data|reverse %}
        <table class="table table-group-divider table-bordered table-striped-columns">
            <thead>
                <th colspan="4" class="text-start center">Spend Records</th>
            </thead>
            <tbody>
                <tr>
                    <th class="text-end">Amount</th>
                    <th class="text-end">Bank Name</th>
                    <th class="text-end">Division</th>
                    <th class="text-end">Date</th>
                </tr>
                {% for record in reversed_spend %}
                    <tr>
                        <td class="text-end">{{ record.amount|usd }}</td>
                        <td class="text-end">{{ record.bank_name }}</td>
                        <td class="text-end">{{ record.division }}</td>
                        <td class="text-end">{{ record.timestamp | timestamp_editor  }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>


    {% endblock %}